<%# Simple text field for an absolute path to a readable PNG/JPG logo %>
<p><label>Logo path (PNG/JPG, optional)</label><br/>
<em>Example: /var/www/html/redmine/plugins/redmine_timepdf/files/logo.png</em><br/>
<%= text_field_tag 'settings[logo_path]', settings['logo_path'], size: 80 %></p>
